*.class
nbproject/private/
nbproject/private/private.properties
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
songs/

private.*

# Package Files #
*.jar
*.war
*.ear

*~
*.lock
*.out